// GENERAL PROJECT STYLES

.page
	min-height: 100vh
	min-height: 100dvh
	min-height: 100svh
	display: flex
	flex-direction: column

	.main
		flex: 1

.main
	margin-top: 1.25rem

.container
	max-width: 1800px
	margin-inline: auto
	padding-inline: 1rem

.text-uppercase
	text-transform: uppercase

.text-lowercase
	text-transform: lowercase