.catalog-header
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	gap: 3.25rem 2rem
	margin-bottom: 2rem

.catalog-filter
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: 1.25rem 1.5rem

	.btn-primary
		--_color: var(--dark-color)
		--_background: var(--gray-color-light)
		--_background-active: var(--primary)
		--_border-color: var(--gray-color-light)
		font-weight: 900
		padding: .125rem 1.25rem

		&:is(:hover, :focus-visible, :active, .is-active, .mixitup-control-section-active, .mixitup-control-active)
			--_color: var(--light-color)
			background-color: var(--_background-active)

.catalog-filter--header.btn-primary
	--_color: var(--light-color)
	--_background: var(--primary)
	cursor: auto

.catalog-content
	margin-bottom: 5rem

.catalog-content-filter
	display: flex
	flex-wrap: wrap
	align-items: flex-start
	margin-bottom: 2rem

.card-filter
	width: 100%
	max-width: 1100px
	display: grid
	grid-template-columns: repeat(4, minmax(220px, 1fr))
	gap: 2rem 2.5rem