.icon
	--i-size: 3rem
	--i-color: currentColor
	width: var(--i-size)
	display: inline-block
	aspect-ratio: 1 / 1

.icon-solid
	fill: var(--i-color)
	stroke: transparent

.icon-stroke
	fill: transparent
	stroke: var(--i-color)

.icon-image
	--i-size: 2.25rem
	width: var(--i-size)
	aspect-ratio: 1 / 1
	display: inline-block
	vertical-align: middle

	img
		width: 100%
		height: 100%
		display: block
		object-fit: contain
		object-position: center