.wrapper-video
	width: 100%
	max-width: 1200px
	margin-inline: auto
	background-repeat: no-repeat
	background-size: contain
	background-position: center
	position: relative

	&::before
		content: ''
		display: block
		padding-top: 32.4%