@include media-breakpoint-down(xxl)

	.navbar-collapse

		.nav-menu

			.nav-link
				font-size: var(--font-size-sm)

	.card-filter
		max-width: 100%

	.card-holiday
		--_padding-y: 2.25rem
		--_padding-x: 4rem

	.accordion-content
		max-width: calc( 100vw - var(--container-padding-x) )
		top: calc( 100% + 1rem )
		left: initial

	.gallery-list,
	.achievements-list
		gap: 1.25rem .75rem

	.detail-gallery-list
		gap: 2rem

	.wrapper-swiper-achievements,
	.wrapper-swiper-card,
	.swiper-image
		--swiper-navigation-sides-offset: -3.5rem
		margin-left: calc( var(--swiper-navigation-sides-offset) * -1 )
		margin-right: calc( var(--swiper-navigation-sides-offset) * -1 )

	.achievements-list
		grid-template-columns: repeat(4, minmax(200px, 1fr))

	.section-contact

		.download-buttons
			margin: 0
	
	.footer

		&-inner
			gap: 1rem
			padding-block: .5rem 1rem
			
			:not(.footer-lists)
				flex: 0 0 calc( 50% - .5rem )

		&-lists
			flex-basis: 100%
			gap: 1rem

@include media-breakpoint-down(xl)

	.lessons-filter-item

		&.full-column

			.catalog-filter
				grid-template-columns: repeat(2, 1fr)

	.tooltip-button
		width: 100%

	.navbar-collapse
		width: 100%
		max-width: 576px
		height: 100%
		flex-direction: column
		gap: 1rem
		background-color: #fff
		padding: 1rem 2rem
		box-shadow: var(--box-shadow)
		position: fixed
		top: 0
		right: 0
		z-index: 1050
		transform: translateX(100%)
		transition: transform var(--transition-duration) var(--transition-type)

		&.is-open
			transform: none

		.navbar-button
			position: absolute
			top: 1rem
			right: 2rem
			z-index: 1

		.nav-logo
			align-self: center

		.nav-menu,
		.nav-buttons
			flex-direction: column

		.nav-menu
			width: 100%
			max-height: 500px
			overflow-x: hidden 
			overflow-y: auto 

			.nav-link
				padding: .75rem 0

			.dropdown-dialog
				padding: 0
				position: static
				opacity: 1
				visibility: visible

			.dropdown-content
				border-radius: initial
				padding: 0
				box-shadow: initial

				& > li:not(:last-child)
					margin-bottom: 0

				.nav-link
					display: inline-block
					width: auto
					font-size: var(--font-size-sm)
					line-height: inherit
					padding: .75rem 0

		.nav-buttons
			width: 100%
			gap: 1rem

			&>*
				width: inherit

		.social-list
			justify-content: center
			order: 1

	.nav-logo
		margin-right: 0

		img
			height: 100px

	.result-list
		grid-template-columns: repeat(2, minmax(320px, 1fr))

	.result-item-buttons
		gap: 1.5rem

	.detail-header

		h2
			max-width: 100%
		
		.btn-back
			position: static
			transform: none
			margin-bottom: 1rem

	.detail-hero
		flex-direction: column
		align-items: flex-start

		&-middle
			width: 100%
			max-width: 100%
			margin-inline: auto
			order: -1

		&-end
			align-self: flex-start

	.detail-main-button
		justify-content: flex-start

	.card-filter
		gap: 1.5rem 1rem

	.gallery-list
		grid-template-columns: repeat(4, minmax(200px, 1fr))

	.detail-gallery-list,
	.achievements-list
		grid-template-columns: repeat(3, minmax(260px, 1fr))

	.holidays-list
		gap: 2.5rem 2rem
		
		& > li
			flex: 0 0 calc( 50% - 1rem )

	.wrapper-swiper-reviews
		--swiper-navigation-sides-offset: -3.5rem
		margin-left: calc( var(--swiper-navigation-sides-offset) * -1)
		margin-right: calc( var(--swiper-navigation-sides-offset) * -1)

	.contact
		grid-template-columns: 1fr

	.modal-swiper

		.modal-dialog
			width: calc( 100% - 2rem )
			margin: 2.5rem 1rem

@include media-breakpoint-down(lg)

	.hero-buttons
		gap: 1.25rem 1.5rem

		&>button
			max-width: initial
			flex: 0 0 100%

	.result-list
		gap: 2rem

	.card-filter
		grid-template-columns: repeat(3, minmax(220px, 1fr))

	.card-holiday
		--_padding-y: 1.5rem
		--_padding-x: 3rem

		.card-info
			right: .25rem

	.gallery-list
		grid-template-columns: repeat(3, minmax(200px, 1fr))

	.detail-gallery-list,
	.achievements-list
		grid-template-columns: repeat(2, minmax(260px, 1fr))

	.wrapper-swiper-holiday-detail
		--swiper-navigation-sides-offset: -4rem
		max-width: initial
		margin-left: calc( var(--swiper-navigation-sides-offset) * -1 )
		margin-right: calc( var(--swiper-navigation-sides-offset) * -1 )

@include media-breakpoint-down(md)

	.lessons-filter-item.full-column .catalog-filter,
	.lessons-filter,
	.result-list
		grid-template-columns: 1fr

	.result-main-button
		justify-content: center

	.card-filter
		grid-template-columns: repeat(2, minmax(220px, 1fr))

	.gallery-list
		grid-template-columns: repeat(2, minmax(200px, 1fr))

	.wrapper-swiper-reviews,
	.wrapper-swiper-achievements,
	.wrapper-swiper-card,
	.swiper-image
		--swiper-navigation-sides-offset: 0

	.swiper-holiday
		margin-left: initial
		margin-right: initial

	.wrapper-swiper
		--swiper-navigation-size: 2.5rem
		--swiper-navigation-sides-offset: 0
		--swiper-navigation-top-offset: .5rem
		padding-top: 3.5rem

	.swiper-image-detail-thumb
		padding-top: 1rem

	.swiper-button-prev,
	.swiper-button-next
		transform: initial

		&::after
			background-size: 1.75rem 1.75rem

		&.swiper-button-disabled
			opacity: .5

	.swiper-button-prev
		left: initial
		right: 3.125rem

	.detail-gallery-list
		grid-template-columns: repeat(2, minmax(240px, 1fr))
		gap: 1rem

	.modal-dialog
		max-width: 100%
		margin: 2.5rem 1rem

@include media-breakpoint-down(sm)

	.btn
		font-size: var(--font-size)
		padding: .5rem 1rem

	.btn-link
		font-size: calc( var(--font-size) - .25rem )
		padding: 0

	.download-buttons
		justify-content: center

	.fancy-link
		padding-bottom: .25rem

	.navbar-collapse
		padding: 1rem

		.navbar-button
			padding: .75rem
			right: 1rem

	.hero-buttons

		&>button
			
			&::before
				width: 1.25rem
				height: 1.25rem

	.card-filter,
	.gallery-list,
	.detail-gallery-list,
	.address,
	.contact-details,
	.achievements-list
		grid-template-columns: 1fr

	.holidays-list

		& > li
			flex: 0 0 100%

	.wrapper-video

		&::before
			padding-top: 56.5%

	.lessons-filter-item
		
		.btn-filter-header
			padding: .15rem 1rem

	.catalog-filter
		width: 100%

		& > *:not(.accordion-content, .catalog-filter--inner, .catalog-filter--header)
			flex: 0 0 calc( 50% - .75rem )

			& > .btn
				width: 100%

	.catalog-filter--header,
	.catalog-filter--inner
		flex-basis: 100%

	.modal-close
		font-size: var(--font-size-lg)
		padding: 0

	.swiper-image-detail

		.swiper-slide-image

			&::before
				padding-top: 65%

	.swiper-image-detail-thumb

		.swiper-slide-image

			&::before
				padding-top: 56.5%

	.footer

		&-inner
			
			:not(.footer-lists)
				flex: 0 0 100%

		&-lists
			flex-wrap: wrap

		&-list
			flex: 0 0 100%

@media (max-width: 440px)

	.catalog-filter

		& > *:not(.accordion-content)
			flex: 0 0 100%

@include media-breakpoint-up(xl)

	.decoration-bg
		background-repeat: no-repeat
		background-position: 95% 20px
		background-size: 170px 150px
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: -1

	.header

		&-nav

			&>.nav-logo,
			&>.navbar-button
				display: none

	.navbar-collapse
		flex-wrap: wrap
		align-items: center
		justify-content: space-between

		.nav-logo
			margin-right: -10rem

		.nav-menu
			align-items: center
			justify-content: space-between
			flex: 0 0 100%
			border-top: 1px solid #000
			border-bottom: 1px solid #000

		.navbar-button
			display: none